<%= render('layouts/search') %>



<% @providers.each do |provider| %>
      
        <h3><%= link_to provider.name, provider_path(provider) %></h3> 
        <h4><%= provider.address %></h4><br>

<% end %>