<div class="jumbotron">
      <div class="container">

      	<div class="row">
          <div class="col-md-12">
            <p id="intro"><strong>Health care pricing can differ significantly by provider,<span class="text-danger"> even for the same exact procedures and visit types.</span>  <span class="text-primary">HealthCostConnect's </span>mission is to provide you with the necessary information for you to make informed decisions as a health care consumer.</strong></p> <br><br>
          </div> 
          <div class="col-md-12 col-md-push-3">
          <%= form_tag procedures_path, :method => 'get', id: "welcome-search" do %>
          <p>
          <%= text_field_tag :search, params[:search], placeholder: "Search Procedures" %>
          <%= submit_tag "Search Procedures", :name => nil, :class => "btn btn-success btn-lg" %>
          </p><br><br>
          
          <% end %>
          </div>

          <div class="col-md-12 col-md-push-4">
          <%= link_to "List of Procedures", procedure_list_path, :class => "btn btn-lg btn-primary", style: "color:white" %>

          </div>
          
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h3 id="add-info"><span class="text-primary">Additional Information</span></h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h4>In compliance with state law, section 3727.12 of the Ohio revised Code, hospitals will provide, on request, a list of charges for room and board, emergency services, surgery, newborn delivery, physical therapy and other procedures. Medical care charges are the same for all patients, but a patient's responsibility may vary depending on payment plans negotiated with individual health insurers. Uninsured or underinsured patients should consult with billing staff to determine whether they qualify for financial need or cash discounts.

Costs are estimated from a baseline CPT coding system. There may be additional charges coded with modifiers that may increase a patients specific charge.  
To the best of our knowledge these prices are accurate and obtained from websites, financial counselors,  managers, and patient experience.

Providers who would like to submit further information on their charges or update any outdated information should contact healthcostconnect@gmail.com</h4>
      </div>
    </div>





