// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#intro {
	
	margin-bottom: 15px;
    font-size: 21px;
    font-weight: 200;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 1.42857;
    }

.navbar-brand {
	color: blue;
}

#intro {
	line-height: 35px;
}

