<div class="row">
  <div class="col-xs-12 col-sm-6">
    <%= link_to "New Provider", "#", class: "btn btn-primary btn-lg col-xs-12" %>
  </div>

  <div class="col-xs-12 col-sm-6">
    <%= link_to "New Procedure", admin_providers_path, class: "btn btn-primary btn-lg col-xs-12" %>
      
  </div>


</div>
