<%= render partial: 'layouts/flash', locals: { :flash => flash } %>
<h1>New procedure for <%= @provider.name %></h1>

<%= render partial: 'new_form', locals: { :procedure => @procedure } %>

<%= link_to 'Back', procedures_path %>

